<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <img src="/web-server/public/img1.png">
    <p>{{errormsg}}</p>
    </div>
    {{>footer}}
  </body>
</html>